{% extends "index.html" %}
{% load static %}
{% block title %}博客{% endblock %}
{% block body %}
		<h1><span>blog</span></h1>
		<div>
			<ul>
			{% for x in langtext %}
				<li>
					<a href="/blogs" class="figure">
						<img src="{% static 'images/cutting-mustache.jpg' %}" alt="">
					</a>
					<div>
						<h3>{{ x.title }}</h3>
						<p>{{ x.text }}</p>
						<a href="/blogs" class="more">read this</a>
					</div>
				</li>
			{% endfor %}
			</ul>
		</div>
{% endblock %}
