*{
	margin:0 auto;
	padding: 0px;
}
a {
	text-decoration: none;
	color:block;
}
ul li {
	text-align: center;
	list-style: none;
}
.heads{
	background-color: #EBEBEB;
	float: left;
	width: 100%;
}
/*login图片*/
.heads img{
	margin-top: 20px;
	margin-left: 20px;
	width:100px;
	height:100px;
}
.title{
	position: absolute;
	top:20px;
	display: inline;
}

/*标题*/
.title strong{
	line-height: 100px;
	font-size: 30px;
	margin-left: 30px;
}
/*语录*/
.heads i{
	margin-left: 20px;
}

/*导航页*/
.Navigation{
	padding-left: 100px;
	width:100%;
	background-color: #EBEBEB;
}
.Navigation li{
	float: left;
	width: 200px;
	background-color: #F2F2F2;
}

/*下拉菜单*/
.Navigation li:hover{
	background-color: #DBDBDB;
}
.Navigation li:hover .list{
	display: block;
}
.list{
	display: none;
}

/*login*/
.login{
	float: right;
	margin-right: 100px;
}